#
#
# name: {{scheme-name}}
# author: {{{scheme-author}}}
# slug: {{scheme-slug}}
# slug-underscored: {{scheme-slug-underscored}}
# system: {{scheme-system}}
# variant: {{scheme-variant}}
# is-{{scheme-variant}}-variant: {{hasVariant}}
#
#
